.alert {
    margin-bottom: 0 !important;
}
.bg-green{
    background-color: green;
    height: 500px;
}

.bg-blue{
    background-color: blue;
    height: 500px;
}

.bg-red{
    background-color: red;
    height: 500px;
}

.row {
    border: 2px solid black;
}

.w-100 {
    height: 500px;
}

.carousel-inner {
    margin-bottom: 20px;
}

.form-container {
    border: 2px solid green;
}